@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Share+Tech&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

:root {
--secondary: "Teachers", sans-serif;
--logo: "Jersey 10", sans-serif;
--primary: "Share Tech", sans-serif;
}

body{
    color: white;
    background-color:darkslategrey;
    font-family: var(--secondary);
    font-size: 1.5em;
    padding: 3em;
}

footer{
    position:static;
    bottom: 0;
    margin-top: 50px;
    padding: 50px;
    width: 100%;
    border-top: 1px solid white;

    a{
        color: lightblue;
    }
}

h1{
    font-family: var(--primary);
    font-size: 3em;
    text-align: center;
}

#sub-heading-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.sub-heading-item{
display: flex;
gap: 10px;
}

.sub-heading-icon{
    img {
        width: 32px;
        filter: invert(100%);
    }
}

.selected{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px double white;

}

summary > h2{
    display:inline-block;
}

.border-left{
    margin-left: 6px;
    border-left: 3px solid white; 
    padding-left: 20px;




}

#tables-wrapper{
    display: flex;
    flex-wrap:wrap;
gap: 1em;
}

.table {
    max-width: 350px;
    display: block;
    border: 1px solid black;
    padding: 1em;
    font-size: .75em;
p {
    font-style: italic;
    margin: 0px;
}
}

/*
Character sheet section
*/


/*https://css-tricks.com/auto-growing-inputs-textareas/*/
.input-sizer {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;


 
  &.stacked {

    align-items: stretch;
    
    &::after,
    input,
    textarea {
      grid-area: 2 / 1;
    }
  }
  
  &::after,
  input,
  textarea {
     color: white;
    width: auto;
    min-width: 1em;
    grid-area: 1 / 2;
    font: inherit;
    margin: 0;
    resize: none;
    background: none;
    appearance: none;
    border: none;
  }
  
  input{
text-decoration: underline;
 &::placeholder {
    color: white;
  }

}
  &::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
  }
  
  &:focus-within {  

    textarea:focus,
    input:focus {
      outline: none;
    }
  }
}

.input-sizer {
  
  > span {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    
  }
}

.character-sheet-info{
    display: flex;
    flex-wrap:wrap;
gap: 1em;
  div{ display: block;
max-width: 350px;
padding: 1em;
  textarea {
    display:block;
    font-size: 1em;
    width: 100%;
    height: 6em;
  }

    
  }
  
}


/* Draggable Div timer*/

#mydiv {
    position: fixed;
right: 0;
top: 0;
width: 100px;
height: 170px;
    z-index: 9;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(2px);
    text-align: center;
    align-items: center;
    border: 1px solid #d3d3d3;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color:#1d1d1d;
    background-color: rgb(29 29 29 / 70%);
    backdrop-filter: blur(2px);
    font-family: var(--primary);

  }

  #timer-buttons-wrapper{
    padding-bottom: 10px;
  }



  /*MOON ANIMATION FOR THE TIMER
  https://codepen.io/shamir/pen/YGbbNX*/

  .moon {
    width: 100px;
    height: 100px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    transform: translateZ(0);
  
    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #222;
      width: 50%;
      height: 100%;
    }
  }
  
.darkened {
    background-color: #222;
}

  .disc {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    /* background-color: #222; */
    &.moving_moon {

    animation: rotate 900s linear infinite;
  
    &::before,
    &::after {
      content: " ";
      display: block;
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: transform 900s;
      position: absolute;
      backface-visibility: hidden;
    }
    &::before {
      background-color: #222;
    }
    &::after {
      background-color: #fff;
      transform: rotateY(180deg);
    }
  }
}
  
  @keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  @keyframes flip {
    0% {
      left: 0;
    }
    100% {
      left: 100%;
    }
  }